<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<title>Movie Catalog Sign in</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//apis.google.com/js/platform.js?onload=start"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row justify-content-center">
	            <form class="bd-example col-lg-3 col-md-6 col-sm-8">
	                <div class="form-group">
	                    <label id="signinLabel">Sign in with Google</label>
	                    <div id="signinButton">
	                        <span class="g-signin"
	                            data-scope="openid email"
	                            data-clientid="{{CLIENT_ID}}"
	                            data-redirecturi="postmessage"
	                            data-accesstype="offline"
	                            data-cookiepolicy="single_host_origin"
	                            data-callback="signInCallback">
	                        </span>
	                    </div>
	                    <label id="result"></label>
	                </div>
	            </form>
			</div>
        </div>

        <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                // Hide the sign-in button now that the user is authorized
                $('#signinButton').attr('style', 'display: none');
                $('#signinLabel').attr('style', 'display: none');
                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    headers:{
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                    // Verify the server response
                    if (result) {
                        $('#result').html("Sign in success!");
                        window.location.href = "/genres";
                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }
            }); } }
        </script>

	</body>
</html>
